# Java class files
*.class

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Environment
.env

# Local config
*.local
